#toilet {
    height: 320px;
    text-align: center;
    display: none;
}

h1 {
    text-align: center;
}

.egress-type {
    margin: 10px auto;
    width: 100%;
    height: 250px;
    text-align: left;
}

.egress-text {
    padding-left: 30px;
    font-size: 3em; 
}

.btn-pee {
    color: #fff;
    background-color: #ffc107;
    border-color: #ffc107;    
}

.btn-flow-1 {
    color: #fff;
    background-color: #ffc10769;
    border-color: #ffc10769;    
    height: 150px;
    display: none;
}

.btn-flow-2 {
    color: #fff;
    background-color: #ffc107a1;
    border-color: #ffc107a1;    
    height: 150px;
    display: none;
}

.btn-flow-3 {
    color: #fff;
    background-color: #ffc107;
    border-color: #ffc107;
    height: 150px;
    display: none;  
}

.btn-poop {
    color: #fff;
    background-color: #856404;
    border-color: #856404;    
}

.btn-winner {
    color: #fff;
    background-color: #50c514 !important;
    border-color: #50c514 !important;
}

.btn-loser {
    color: #fff;
    background-color: #9114c5 !important;
    border-color: #9114c5 !important;    
}

#message {
    font-size: 1.7em
}
